body{
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
.container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
}
header{
    grid-column:1/3;
    background-color: #3C8527;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    

}
header div{
    text-align: center;
    }    

header h1{
        font-size:39px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header img{
        width: 150px;
        height: 150px;
        object-fit:cover;
        border-radius: 50%;
        border: 5px solid #fff;
    }

aside{
    padding: 30px;
    grid-column:1;
}
aside h3{
    font-family: Georgia, "Times New Roman", Times, Serif;
}
aside section:nth-child(2) h3,
aside section:nth-child(3) h3{
    color: #28651C;

}
aside section:nth-child(2),
aside section:nth-child(3) {
 border-left: 2px solid #28651C;
    padding-left: 10px;
}
aside section:first-child{
    background-color:#E2E8F0;
    padding: 20px;
}
aside section:first-child h3{
    color: #333322;
}
article h2{
    font-size: 34px;
    color: #28651C;
}
.date{
    color: #667267;
}
.art1{
    float: left;
}
.art2{
    float: right;
}
.image{
    width: 180px;
    height: 180px;
}
aside a{
    color: #2879B8;
}
footer{
    background-color: #28651C;
    color: #fff;
    grid-column: 1/3;
}
main{
    grid-column: 2;
    border-left: solid;
    padding-left: 30px;
}